@model IEnumerable<Employee>
@{
    ViewData["Title"] = "AllEmployees";

}


<h2>Employees Data</h2>
<style>
    .createbtn {
        margin-bottom: 3%;
    }
</style>
<form asp-action="AllEmployees" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-md-9">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" name="searchterm" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="col-md-3">
            <input type="submit" value="search" class="btn btn-primary" />
        </div>
    </div>

</form>
<a asp-action="Create" class="createbtn btn btn-success" asp-controller="Home">Create New Employee</a>
<table class="table table-bordered table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th>@Html.DisplayNameFor(model => model.EmpName)</th>
        <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
        <th>@Html.DisplayNameFor(model => model.Salary)</th>
        <th>@Html.DisplayNameFor(model => model.BOD)</th>
        <th>@Html.DisplayNameFor(model => model.Country)</th>
        <th>Operations</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.EmpName</td>
            <td>@item.EmailAddress</td>
            <td>@item.Salary</td>
            <td>@item.BOD.ToShortDateString()</td>
            <td>@item.Country</td>
            <td>
                <a href class="btn btn-primary" href="#">EDIT</a>
                <a class="btn btn-danger" data-toggle="modal" data-target="@("#DeleteModal"+item.ID)">Delete</a>
                <a  data-toggle="modal" data-target="@("#exampleModal"+item.ID)" class="btn btn-info"> More Details</a>
            </td>

        </tr>
    }
</table>
@foreach (var item in Model)
{
    <partial name="_Detailpartial" model="item" />

}
@foreach (var item in Model)
{
    <partial name="_DeletePopUpPartial" model="item" />

}


